node_modules
# Keep environment variables out of version control
.env

/app/generated/prisma

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.DS_Store
backend/.envlod
backend/.envlod2
CSR1000v-showrun.txt
parse_config_textfsm.py
readconfig-template.py
test_phpipam.py
textfsm_templates/cisco_interface.textfsm
